
.chat-user-container{
    margin: 1.2vh auto;
    width: 65%;
    min-width: fit-content;
    height: 7vh;
    padding: 7px;
    border-radius: 3px;
    background-image: linear-gradient(10deg, rgba(116, 58, 213, 0.1), rgba(73, 5, 190, 0.19),rgba(116, 58, 213, 0.1), rgba(73, 5, 190, 0.19));
    display: flex;
    gap: 1vw;
    border: 1px dashed rgba(50, 50, 62, 0.05);
    box-shadow: rgba(50, 50, 62, 0.15) 0px 50px 100px -25px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}

.chat-user-container-selected{
    margin: 1.2vh auto;
    width: 65%;
    height: 7vh;
    padding: 7px;
    border-radius: 3px;
    background-image: linear-gradient(10deg, rgba(116, 58, 213, 0.17), rgba(73, 5, 190, 0.35),rgba(116, 58, 213, 0.17), rgba(73, 5, 190, 0.35));
    display: flex;
    gap: 1vw;
    border: 1px dashed rgba(50, 50, 62, 0.05);
    box-shadow: rgba(50, 50, 62, 0.15) 0px 50px 100px -25px, rgba(0, 0, 0, 0.2) 0px 30px 60px -30px;
}

.chat-user-container:hover{
    cursor: pointer;
    background-image: linear-gradient(10deg, rgba(116, 58, 213, 0.17), rgba(73, 5, 190, 0.35),rgba(116, 58, 213, 0.17), rgba(73, 5, 190, 0.35));
}

.chat-user-image-wrapper{
    margin-top: 0.25vh;
}

.chat-user-image{
    object-fit: cover;
    width: auto;
    height: 6.5vh;
    border: 1px solid rgba(200, 200, 200, 0.9);
    border-radius: 3px;
}

.chat-user-name{
    color:#454545;
    font-family: 'Manrope', sans-serif;
    margin-top: 0.25vh;
    display: block;
    font-size: calc(6px + 0.8vh + 0.4vw);
    font-weight: 600;
}