.navbar {
    background: #333;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
  }
  
  .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    max-width: 1500px;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 2rem;
  }
  
  .nav-menu {
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 75vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 90px;
  }
  
  .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
  }
  
  .nav-link:hover {
    border-bottom: 4px solid #fff;
    transition: all 0.2s ease-out;
  }
  
  .fa-bars {
    color: #fff;
  }
  
  
  .menu-icon {
    display: none;
  }
 
  
/*  */
/*  */
/*  */
/*  */

  @media screen and (max-width: 900px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      font-weight: 700;
      padding: 0;
      align-items: center;
      align-content: center;
      display: flex;
      flex-direction: column;
      height: auto;
      position: absolute;
      top: 90px;
      left: -100%;
      transition: all 0.7s ease;
    }
  
    .nav-menu.active {
      justify-content: start;
      margin-top: 0;
      width: 100%;
      background: #333;
      opacity: 1;
      transition: all 0.7s ease;
      z-index: 1;
      left: 0;
    }
  
    .nav-link {
      height: auto;
      text-align: center;
      margin-top: 2rem;
      width: 50%;
      display: table;
    }
  
    .nav-link:hover {
      background-color: #fff;
      color: #000;
      /* border-radius: 1px; */
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      color: #fff;
      font-size: 2rem;
    }

  }