.news-card-container-right{
    height: 30vh;
    min-height: 240px;
    border-radius: 3px;
    width: 80%;
    min-width: 600px;
    background: #454545;
    margin: 0 auto;
    color: #ddd;
    box-shadow: rgba(50, 50, 62, 0.30) 0px 50px 100px -30px, rgba(0, 0, 0, 0.35) 0px 30px 60px -30px;
    display: flex;
    padding: 10px;
    flex-direction: row-reverse;
}
